<table mat-table [dataSource]="transactions" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="Meno">
    <th mat-header-cell *matHeaderCellDef> Meno </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Typ transakcie">
    <th mat-header-cell *matHeaderCellDef> Typ transakcie </th>
    <td mat-cell *matCellDef="let element"> {{element | transactionType}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Ucet">
    <th mat-header-cell *matHeaderCellDef> Ucet </th>
    <td mat-cell *matCellDef="let element"> {{element.bankCode}} / {{element.accountNumber}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Hodnota">
    <th mat-header-cell *matHeaderCellDef> Hodnota </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="Akcia">
    <th mat-header-cell *matHeaderCellDef> Akcia </th>
    <td>
      <a *matCellDef="let element" routerLink="{{element.transactionId}}">
        <button mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </a>
<!--      <button *matCellDef="let element" mat-button (click)="showDetail(element)">Detail</button>-->
    </td>
<!--    <td mat-cell *matCellDef="let element"> {{element.}} </td>-->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
